# Additional pip dependencies for REAL-SWIT.
# These packages are installed automatically when using environment.yml.

ray==1.5.1
pytorch-lightning==1.4.1
torchmetrics==0.4.1

tensorflow==2.5.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
tensorboard==2.6.0
tensorboardX==2.4

deepsmiles==1.0.1
MolVS==0.1.1
syba==1.0.2a0

pathos==0.2.8
ConfigArgParse==1.5.2
tabulate==0.8.9
